/* finys styles */
.f-dropdown {
    border: 1px solid var(--neutral-lighter);
    background-color: var(--neutral-lightest);
    border-radius: 0.375rem;
    color: var(--neutral);
    padding: 0.625rem 0.75rem;
  }

  .f-dropdown .k-input-button {
    color: var(--neutral-darkest);
    padding: 0;
  }

  .f-dropdown .k-input-inner {
    padding: 0;
  }

  .f-dropdown:hover {
    border: 1px solid var(--neutral-light);
    background-color: var(--neutral-lighter);
  }

  .f-dropdown:focus {
    border: 1px solid var(--primary);
    box-shadow: 0px 1px 2px 0px #0000000D;
    box-shadow: 0px 0px 0px 2px #C2E0FF;
    background-color: var(--neutral-white);
  }

  .f-dropdown.f-selected {
    background-color: var(--neutral-white);
    color: var(--neutral-darkest);
  }

  .k-popup {
    box-shadow: 0px 4px 6px -2px #00000008;
    box-shadow: 0px 12px 16px -4px #00000014;
  }

  .k-list-container {
    margin-top: 0.5rem;
  }

  .k-list-container,
  .k-list-container.k-popup .k-list {
    border-radius: 6px;
  }

  .k-list-container.k-popup .k-list li {
    font-weight: bold;
  }

  .k-list-container.k-popup .k-selected.k-focus {
    background-color: var(--primary-lightest);
    color: var(--neutral-darkest);
    box-shadow: none;
  }

  .k-list-container .k-list-content .k-first {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .k-list-container .k-list-content .k-list-item {
    padding-left: 1.125rem;
  }

  .k-list-item-group-label {
    position: static;
    color: var(--neutral);
    background-color: transparent;
    font-size: inherit;
    padding: 0;
  }

  .f-group-dropdown {
    position: relative;
  }

  .f-group-dropdown-input {
    padding: 0.625rem 0.75rem;
    border: 1px solid var(--neutral-lighter);
    border-radius: 6px;
    background-color: var(--neutral-lightest);
    cursor: pointer;
  }

  .f-group-dropdown-input:hover {
    background-color: var(--neutral-lighter);
    border-color: var(--neutral-light);
  }

  .f-group-dropdown-input:focus {
    border: 1px solid var(--primary);
    box-shadow: 0px 1px 2px 0px #0000000D;
    box-shadow: 0px 0px 0px 2px #C2E0FF;
    background-color: var(--neutral-white);
  }

  .f-group-dropdown-input:focus-visible {
    outline: 0;
  }
  
  .f-group-dropdown-content {
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(0.5rem + 35px);
    border: 1px solid var(--neutral-lighter);
    border-radius: 0.375rem;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }

  .f-group-dropdown-content.f-focus {
    height: 4rem;
  }

  .f-group-dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .f-group-dropdown-content li {
    padding: 0.5rem;
  }

  .f-group-dropdown-content li:hover {
    padding: 0.5rem;
    background-color: var(--neutral-lightest);
    color: var(--neutral-darkest);
    cursor: pointer;
  }

