/* ---------------------------------------------- Generic ------------------------------------------------- */
.f-button {
    border: 0;
    border-radius: 7.5rem;
    padding: 0.063em;
    font-weight: 600;
    box-shadow: 0 0.0625rem 0.125rem 0 #0000000D;
    display: inline-flex;
    background: linear-gradient(0deg, rgba(19, 21, 25, 0.3) 0%, rgba(97, 107, 127, 0.21) 100%);
    cursor: pointer;
}

.f-button:hover {
    background-color: var(--neutral-lighter);
}

.f-button > .f-button-content {
    background: var(--neutral-lightest); /* Inner background */
    border-radius: inherit;
    padding: 0.5em 1em;
}

.f-button:hover > .f-button-content {
    background: var(--neutral-lighter);
}

/* ---------------------------------------------- Button Types --------------------------------------------- */
/* ---------------------------------------------- Primary ------------------------------------------------- */
.f-button-primary {
    /* TODO: Needs blue border */
    border-image-source: linear-gradient(360deg, rgba(19, 21, 25, 0.3) 0%, rgba(97, 107, 127, 0.21) 100%);
}

.f-button.f-button-primary > .f-button-content {
    background-color: var(--primary);
    color: var(--neutral-white);
}

.f-button-primary:hover .f-button-content {
    background-color: var(--primary-dark);
}

/* ---------------------------------------------- Secondary ------------------------------------------------- */
.f-button-secondary {
    border-image-source: linear-gradient(360deg, rgba(19, 21, 25, 0.3) 0%, rgba(97, 107, 127, 0.21) 100%);
}

.f-button.f-button-secondary > .f-button-content {
    background-color: var(--neutral-lightest);
    color: var(--neutral-darkest);
}

.f-button-secondary:hover .f-button-content {
    background-color: var(--neutral-lighter);
}

/* ---------------------------------------------- Tertiary ------------------------------------------------- */
.f-button-tertiary {
    background-color: transparent;
    background: transparent;
    border: transparent;
    box-shadow: none;
}

.f-button.f-button-tertiary > .f-button-content {
    background-color: transparent;
    color: var(--primary);
}

.f-button-tertiary:hover {
    background-color: var(--primary-lightest);
}

/* ---------------------------------------------- Destructive ------------------------------------------------- */
.f-button-destructive {
    border-image-source: linear-gradient(360deg, rgba(19, 21, 25, 0.3) 0%, rgba(97, 107, 127, 0.21) 100%);
}

.f-button.f-button-destructive > .f-button-content {
    background-color: var(--error);
    color: var(--neutral-white);
}

.f-button-destructive:hover .f-button-content {
    background-color: var(--error-dark);
}

/* ---------------------------------------------- Button Sizes ------------------------------------------------- */
.f-button.f-button-large > .f-button-content {
    font-size: var(--font-size-default);
}

.f-button.f-button-medium > .f-button-content {
    font-size: var(--font-size-medium);
}

.f-button.f-button-small > .f-button-content {
    font-size: var(--font-size-small);
}

.f-button.f-button-xsmall > .f-button-content {
    font-size: var(--font-size-tiny);
}