

div.k-calendar-view.k-calendar-monthview > table > tbody > tr > td > a{
    color: var(--neutral-darker);
    font-weight: 500;
    font-size: 1rem;
}
div.k-calendar-view.k-calendar-monthview > table > tbody > tr > td.k-other-month > a {
    color: var(--neutral-light);
}
.k-calendar-view k-calendar-monthview{
    box-shadow: 0px 4px 6px -2px #00000008;
    box-shadow: 0px 12px 16px -4px #00000014;
    padding: 4px 8px;
    padding-bottom: 6px;
}

.k-widget.k-calendar.k-calendar-md, .k-calendar-container.k-popup{
    border-radius: 0.375rem;
}

.f-calendar-header{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    gap: 4px;
    align-items: center;

}

.k-calendar-monthview .k-calendar-td{
    height: 38px;
    width: 38px;
}

.f-calendar-header-dropdown-group{
    display: flex;
    gap: 4px;
    align-items: center;
    width: 85%;
}

.f-calendar-header-dropdown-group  .k-dropdownlist{
    border: 1px solid var(--neutral-lighter);
    box-shadow: 0px 1px 2px 0px #0000000D;
    background-color: var(--neutral-white);
}


.f-calendar-month-dropdown{
    width: 60%;
    font-weight: 500;
    font-size: .85rem;
}


.f-calendar-year-dropdown{
    width: 40%;
    font-weight: 500;
    font-size: .85rem;
}


.f-next-month-arrow, .f-previous-month-arrow{
    font-size: 1.25rem;
    color:var(--neutral-dark);
    cursor: pointer;
    display: flex;
}

.f-next-month-arrow:hover, .f-previous-month-arrow:hover{     
    color:var(--neutral-darkest);
}

.image.png



.k-calendar-md{
    font-size: 1rem;
}
.k-calendar .k-calendar-td.k-selected .k-link{
    background-color: var(--primary);
    border: 0px;
    border-radius: 100%;
}
.k-calendar .k-calendar-td.k-selected .k-link:hover{
    background-color: var(--primary-dark);
    transition-duration: 200ms;
}
.k-calendar .k-calendar-td.k-hover .k-link{
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 100%;
    box-shadow: 0px 31.5px 63px 13.13px #A8D8F503 inset;
}



.k-calendar .k-calendar-td.k-focus .k-link{
    box-shadow: 0 0 0 0px !important;
}

.k-calendar .k-calendar-td.k-selected.k-hover .k-link{
    background-color: var(--primary);

}

.k-calendar .k-calendar-view .k-today{
    color: var(--neutral-darker);
    font-weight: 500;
}


div.k-calendar-view.k-calendar-monthview > table > tbody  td.k-calendar-td.k-today > a::before{
    width: 6px;
    height: 6px;
    background-color: var(--primary);
    position: absolute;
    top: 30px;
    content: "\A";
    border-radius: 100%;
    right: 14.5px;
}



#date-picker-section{
    padding-bottom: 50px;
}


.k-calendar-container .k-child-animation-container{
    width: 100% !important;
}



/* for dropdown */

.k-calendar-container.k-popup .k-list-container.k-popup span.k-list-item-text{
    font-size: .75rem;
    font-weight: 500;
}

.k-calendar-container.k-popup,.k-calendar-container.k-popup .k-child-animation-container,.k-calendar-container.k-popup .k-animation-container.k-animation-container-shown,.k-calendar-container.k-popup .k-list-container.k-popup {
    /* width: 110px !important; */
}

/* 
for input */

.k-datepicker:has(.FinysDatePicker){
    max-width: 15rem;
    border-radius: 0.375rem;
    color: var(--neutral-darkest);
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: 1px solid var(--neutral-lighter);
    background: var(--neutral-ultra-light);

}

.k-datepicker:has(.FinysDatePicker):hover{
    background: var(--neutral-lightest);
    transition-duration: 400ms;

}

.FinysDatePicker::before{
    content: "1";
}

.FinysDatePicker .ph.ph-calendar-blank{
    font-size: 1rem;
    background: var(--neutral-ultra-light) !important;
}
.k-datepicker:has(.FinysDatePicker) > .k-input-button{
    background: var(--neutral-ultra-light) !important;
}

.k-datepicker.k-input-solid.k-focus{
    box-shadow: 0px 1px 2px 0px #0000000D;
    box-shadow: 0px 0px 0px 2px #006DDB33;
}