:root {
    /* Neutrals */
    --neutral-white: #FFFFFF;
    --neutral-lightest: #F2F2F2;
    --neutral-lighter: #D8D9DA;
    --neutral-light: #B2B4B5;
    --neutral: #75787A;
    --neutral-dark: #333A40;
    --neutral-darker: #1E2328;
    --neutral-darkest: #191E23;
  
    /* Primary */
    --primary-lightest: #e5f0fb;
    --primary-lighter: #cce1f7;
    --primary-light: #4c98e5;
    --primary: #006ddb;
    --primary-dark: #0057af;
    --primary-darker: #002b57;
    --primary-darkest: #002041;

    /* Secondary*/
    --secondary-lightest: #e5e9ee;
    --secondary-lighter: #ccd4de;
    --secondary-light: #4C6B8C;
    --secondary: #002C5B;
    --secondary-dark: #002348;
    --secondary-darker: #001124;
    --secondary-darkest: #000D1B;

    /* Success */
    --success-lightest: #e9f4f2;
    --success-lighter: #d3eae6;
    --success-light: #66b7aa;
    --success: #259986;
    --success-dark: #1d7a6b;
    --success-darker: #0e3d35;
    --success-darkest: #0B2D28;

    /* Alert */
    --alert-lightest: #fff6e5;
    --alert-lighter: #FFEDCC;
    --alert-light: #ffc14c;
    --alert: #ffa700;
    --alert-dark: #cc8500;
    --alert-darker: #664200;
    --alert-darkest: #4c3200;

      /* Error */
    --error-lightest: #fdebef;
    --error-lighter: #fcd8df;
    --error-light: #f7788f;
    --error: #f43f5f;
    --error-dark: #c3324c;
    --error-darker: #611926;
    --error-darkest: #49121c;


    --header-gradient: linear-gradient(365deg, hsla(211, 100%, 18%, 1) 0%, hsla(212, 96%, 19%, 1) 17%, hsla(213, 93%, 21%, 1) 39%, hsla(214, 90%, 23%, 1) 62%, hsla(215, 87%, 25%, 1) 78%, hsla(216, 83%, 28%, 1) 100%);








  }