
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./FinysButtonStyles.css"); 

:root {
    --body-font: 'Inter Tight', sans-serif;
    --header-font: 'EB Garamond', serif;
    --kendo-font-family: var(--body-font);
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-style: normal;
    height: 100%;
    margin: 0 !important;
}
h1, h2, h3, h4, h5{
    font-family: var(--header-font);
}

button {
    font-size: 1em;
}

.f-bg-gradient-shapes {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 153" fill="none"><g opacity="0.15"><rect width="192" height="153" rx="8" fill="url(%23paint0)"/><g filter="url(%23f0)"><path d="M74.36 -21.81c-10.91.69-22.77-2.99-30.88 4.3-9.46 8.51-14.69 21.81-11.89 34.16 2.81 12.41 14.2 19.96 25.49 25.97 12.15 6.47 25.96 13.85 38.45 8.05 12.55-5.84 15.87-21.13 18.69-34.62 2.71-13.02 6.09-28.59-3.62-37.77-9.17-8.75-23.56-.86-36.24-.09Z" fill="white" fill-opacity="0.1"/></g><g filter="url(%23f1)"><path d="M3.94 8c-13.61-2.64-27.53 6.83-34.9 18.52-6.61 10.5-1.9 23.3 1 35.4 2.83 11.88 4.56 24.95 14.93 31.49 11.64 7.36 26.76 8.52 39.26 2.69 12.59-5.9 23.06-18.1 23.27-31.95.18-12.2-14.9-17.03-22.38-26.68C17.3 27.37 16.45 10.44 3.94 8Z" fill="white" fill-opacity="0.1"/></g><g filter="url(%23f2)"><path d="M189.52 -28.48c-14.1-1.13-30.17 3.73-36.94 16.06-6.21 11.3 4.64 23.43 8.44 35.76 3.19 10.42 2.39 22.74 11.38 28.95 10.48 7.23 25.37 10.63 36.19 3.85 10.2-6.37 7.86-20.92 9.95-32.74 1.85-10.53 6.41-21.15 1.19-30.48-6.31-11.3-17.21-20.38-30.2-21.4Z" fill="white" fill-opacity="0.1"/><path d="M189.52 -28.48c-14.1-1.13-30.17 3.73-36.94 16.06-6.21 11.3 4.64 23.43 8.44 35.76 3.19 10.42 2.39 22.74 11.38 28.95 10.48 7.23 25.37 10.63 36.19 3.85 10.2-6.37 7.86-20.92 9.95-32.74 1.85-10.53 6.41-21.15 1.19-30.48-6.31-11.3-17.21-20.38-30.2-21.4Z" fill="url(%23paint1)"/></g></g><defs><linearGradient id="paint0" x1="57.86" y1="292.28" x2="98.48" y2="12.53" gradientUnits="userSpaceOnUse"><stop stop-color="%23ECF0FC"/><stop offset="1" stop-color="%2353A3FB"/></linearGradient><linearGradient id="paint1" x1="186.41" y1="-28.64" x2="186.41" y2="59.83" gradientUnits="userSpaceOnUse"><stop stop-color="%23ECF0FC"/><stop offset="1" stop-color="%2353A3FB"/></linearGradient></defs></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.5rem;
  }
  

/* DeskTop text*/
/* Headers */
h1{
    font-size: 3.5 rem;
    line-height: 120%;
}

h2{
    font-size: 2.5 rem;
    line-height: 120%;
}

h3{
    font-size: 2 rem;
    line-height: 130%;
}

h4{
    font-size: 1.5 rem;
    line-height: 140%;
}

h5{
    font-size: 1.25 rem;
    line-height: 140%;
}

h6{
    font-size: 1 rem;
    line-height: 150%;
}

.f-avatar {
    margin-right: 0.5rem;
    color: white;
    border: 3px solid #DDEEFF;
    background-color: #002347;
    font-weight: normal;
}
