<!DOCTYPE html>
<html style="height: 100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ui Mockups</title>
    <link href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../MainVariables.css">
    <link rel="stylesheet" href="../../FinysUtilityClasses.css">
    <link rel="stylesheet" href="../../MainStyles.css">
    <script src="../../kendo.all.min.js"></script>
    <script src="../../kendo-ui-jquery-license.js"></script>
    <!-- ComponentStyles -->
    <link rel="stylesheet" href="./text-inputs.css">



    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
  />
</head>
    <body id="finys-main"  class="f-bg-gradient-shapes" >

        <div class="input-container">
            <label class="f-h-label">Name</label>
            <input id="textbox" />

        </div>

        <div class="input-container">
            <label class="f-h-label">Name</label>
            <input class="k-invalid" id="textbox2" />

        </div>


    </body>


    <script>
        $(document).ready(()=>{
            $("#textbox").kendoTextBox({
            value: "John Smith",
            clearButton: true
            });
            $("#textbox2").kendoTextBox({
            value: "John Smith",
            clearButton: true
            });

        })
    </script>
</html>