finys-button-preview.screen.active {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 3rem 3rem 3rem;
    place-items: center;
    grid-auto-flow: column;
    gap: 1rem;
}

finys-button-preview > .f-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

finys-button-controls {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

finys-code-viewer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    justify-self: stretch;
}