<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <f-nav-bar 
      menu-id="main-menu"
      user-img="https://randomuser.me/api/portraits/men/36.jpg"
      user-name="Lebron James"
    />
</body>

<style>
  .k-dropdownlist .k-icon:before {
    font-family: "Phosphor";
    content: "\e136";
    font-size: 20px;
    font-weight: 100;
  }
</style>
</html>