<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div
      id="header"
      class="f-navigation-header-main"
      data-role="view"
      data-bind="source: headerViewModel"
    >
      <div class="f-navigation-header-main-top">
        <div class="f-navigation-options">
          <div class="f-company-logo">Catalog</div>
          <button class="f-burger" data-bind="click: toggleMenu">
            &#9776;
          </button>

          <div class="f-navigation f-desktop-nav">
            <div class="f-navigation-item">
              <a class="f-navigation-link" href="#">
                <span>Accounting</span>
                <i class="ph ph-caret-down"></i>
              </a>
            </div>
            <div class="f-navigation-item">
              <a class="f-navigation-link" href="#"><span>Claims</span>
                <i class="ph ph-caret-down"></i></a>
              <div class="f-dropdown">
                <div><a class="f-navigation-link" href="#">Open Claims</a></div>
                <div><a class="f-navigation-link" href="#">Archived Claims</a></div>
              </div>
            </div>
            <div class="f-navigation-item">
              <a class="f-navigation-link" href="#"><span>Policy</span>
                <i class="ph ph-caret-down"></i></a>
            </div>
            <div class="f-navigation-item">
              <a class="f-navigation-link" href="#"><span>Billing</span>
                <i class="ph ph-caret-down"></i></a>
              <div class="f-dropdown">
                <div><a class="f-navigation-link" href="#">Invoices</a></div>
                <div><a class="f-navigation-link" href="#">Payments</a></div>
              </div>
            </div>
            <div class="f-navigation-item">
              <a class="f-navigation-link" href="#"><span>Reports</span>
                <i class="ph ph-caret-down"></i></a>
            </div>
          </div>
        </div>

        <div class="f-avatar-section">
          <div style="display: flex; align-items: center;">
            <div id="dropdown-section">
              <input 
                    class="f-dropdown-styles f-border-rounded-left f-text-small f-weight-semi-bold"
                    data-role="dropdownlist"
                    data-auto-bind="false"
                    data-value-primitive="true"
                    data-text-field="Name"
                    data-value-field="Id"
                    data-bind="value: selectedName,
                                source: dummyDropdownData" />
            </div>
            <div class="f-search-input">
              <i class="ph ph-magnifying-glass" style="color: var(--neutral-darker); opacity: 60%;"></i>
              <input style="border: none; outline: none;" placeholder="Search"></input>
            </div>
          </div>
          <div style="display: flex; align-items: center; gap: 16px;">
            <button class="f-icon-btn">
              <i class="ph ph-clock-counter-clockwise"></i>
            </button>
            <button class="f-icon-btn">
              <i class="ph ph-star"></i>
            </button>
            <hr class="f-divider">
            <button class="f-icon-btn">
              <i class="ph ph-gear"></i>
            </button>
            <button class="f-icon-btn">
              <i class="ph ph-bell"></i>
            </button>
            <div class="f-avatar-container">
              <img
                class="f-avatar"
                style="margin: 0;"
                src="https://randomuser.me/api/portraits/men/32.jpg"
                alt="User Avatar"
              />
              <span class="f-text-tiny f-weight-medium">Dwight Schrute</span>
              <i class="ph ph-caret-down"></i></a>
            </div>
          </div>          
        </div>
      </div>

      <!-- Mobile Popup Menu -->
      <div
        id="mobileMenu"
        class="f-navigation f-mobile-nav"
        data-bind="visible: menuVisible"
        style="
          display: none;
          padding: 12px;
          border: 1px solid var(--f-border-color);
          margin-top: 12px;
        "
      >
        <div class="f-navigation-item">
          <a class="f-navigation-link" href="#">Accounting</a>
        </div>
        <div class="f-navigation-item">
          <a class="f-navigation-link" href="#">Claims</a>
          <div class="f-dropdown" style="position: relative; display: block">
            <div><a class="f-navigation-link" href="#">Open Claims</a></div>
            <div><a class="f-navigation-link" href="#">Archived Claims</a></div>
          </div>
        </div>
        <div class="f-navigation-item"><a class="f-navigation-link" href="#">Policy</a></div>
        <div class="f-navigation-item">
          <a class="f-navigation-link" href="#">Billing</a>
          <div class="f-dropdown" style="position: relative; display: block">
            <div><a class="f-navigation-link" href="#">Invoices</a></div>
            <div><a class="f-navigation-link" href="#">Payments</a></div>
          </div>
        </div>
        <div class="f-navigation-item"><a class="f-navigation-link" href="#">Reports</a></div>
      </div>
    </div>
</body>
<script>
  const vm1 = kendo.observable({
        selectedName: 2,
        dummyDropdownData: new kendo.data.DataSource({
            data: [
                {
                    Id: 1,
                    Name: "All"
                },
                {
                    Id: 2,
                    Name: "Claims"
                },
                {
                    Id: 3,
                    Name: "Policy"
                },
                {
                    Id: 4,
                    Name: "Billing"
                }
            ]
        })
    })
    $(document).ready(() => {
        kendo.bind($('#dropdown-section'), vm1);
    })
</script>
<style>
  .k-dropdownlist .k-icon:before {
    font-family: "Phosphor";
    content: "\e136";
  }
</style>
</html>